.git
.github
.idea
.vscode

node_modules
vendor
docs
public/build
public/storage

storage
bootstrap/cache

.env
.env.*
!.env.example
.phpunit.result.cache
npm-debug.log
yarn-error.log
docker-compose*.yml
